<div class="app-section no-bottom-padding no-top-padding">
  <nav class="fiu-navigation fiu-navigation--citizens-accessible" data-fiu-navigation="true">
    <div class="govuk-width-container">
        <a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                {{!-- <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-1" href="/apprentices/are-they-right-for-you" class="fiu-navigation__link">Link 1</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-2" href="/apprentices/how-do-they-work" class="fiu-navigation__link">Link 2</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-3" href="/apprentices/get-started" class="fiu-navigation__link">Link 3</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-4" href="/apprentices/browse-apprenticeships" class="fiu-navigation__link">Link 4</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-5" href="/apprentices/useful-resources-for-apprentices" class="fiu-navigation__link">Link 5</a> </li> --}}
            </ul>
        </nav>
    </div>
  </nav>
</div>

<div class="app-section app-section--black">
    <nav aria-label="breadcrumbs">
        <ol class="govuk-breadcrumbs govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                {{#link 'help_center' class="govuk-breadcrumbs__link" aria-current="false"}}Home{{/link}}
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" aria-current="false" href="{{section.url}}">{{section.name}}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="true">
                {{article.title}}
            </li>
        </ol>
    </nav>
  <div class="fiu-page-header fiu-page-header--homepage">
    <div class="fiu-width-container center no-top-padding">      
      <div class="govuk-grid-row left">
        <div class="fiu-page-header__wrap">
            <strong class="fiu-tag fiu-tag--citizens-accessible fiu-page-header__tag">Apprentices</strong>
            <h1 class="govuk-heading-xl fiu-page-heading__title-hub">{{article.title}}</h1>
          <p class="fiu-page-header__content-l govuk-!-width-two-thirds">{{section.description}}</p>
          <img class="hm-logo" src="{{asset 'hm-government-logo.svg'}}" alt="HM Government logo">
        </div>          
      </div>         
    </div>
  </div>
</div>

<div class="fiu-grad-row fiu-homepage-card-container">
  <span class="fiu-grad-row__bg"></span>
  <div class="fiu-width-container padding-top-250">
    <div class="article-body">
      {{article.body}}
    </div>    
  </div>
</div>

<script>
    $(".govuk-list> li:nth-child(1n+4) .article-link").attr('hidden', true);
</script>