<div class="app-section no-bottom-padding no-top-padding">
  <nav class="fiu-navigation fiu-navigation--citizens-accessible" data-fiu-navigation="true">
    <div class="govuk-width-container">
        <a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">            
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-1" href="https://www.apprenticeships.gov.uk/apprentices/are-they-right-for-you" class="fiu-navigation__link white">Are they right for you? </a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-2" href="https://www.apprenticeships.gov.uk/apprentices/how-do-they-work" class="fiu-navigation__link white">How do they work?</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-3" href="https://www.apprenticeships.gov.uk/apprentices/get-started" class="fiu-navigation__link white">Get started </a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-4" href="https://www.apprenticeships.gov.uk/apprentices/browse-apprenticeships" class="fiu-navigation__link white">Browse apprenticeships</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-5" href="https://www.apprenticeships.gov.uk/apprentices/useful-resources-for-apprentices" class="fiu-navigation__link white">Useful resources</a> </li>
            </ul>
        </nav>
    </div>
  </nav>
</div>

<div class="app-section app-section--black no-bottom-padding padding-top-10-px">
    <nav aria-label="breadcrumbs" class="fiu-width-container no-top-padding">
        <ol class="govuk-breadcrumbs govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a href="https://www.apprenticeships.gov.uk" class="white">Home</a>
            </li>            
            <li class="govuk-breadcrumbs__list-item">
                <a href="https://www.apprenticeships.gov.uk/apprentices" class="white">Apprentices</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{#link 'help_center' class="breadcrumbs-link  white" aria-current="false"}}Apprentice Support Centre{{/link}}
            </li>           
            <li class="govuk-breadcrumbs__list-item white" aria-current="true">
                {{article.title}}
            </li>
        </ol>
    </nav>
  <div class="fiu-page-header fiu-page-header--homepage">
    <div class="fiu-width-container no-top-padding">      
      <div class="govuk-grid-row left">
        <div class="fiu-page-header__wrap">
          {{!-- fiu-tag--citizens-accessible --}}
            <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag">Apprentices</strong>
            <h1 class="govuk-heading-xl fiu-page-heading__title-hub">{{article.title}}</h1>
          <p class="fiu-page-header__content-l">{{section.description}}</p>
          <img class="hm-logo" src="{{asset 'hm-government-logo.svg'}}" alt="HM Government logo">
        </div>          
      </div>         
    </div>
  </div>
</div>

<div class="fiu-grad-row fiu-homepage-card-container">
  <span class="fiu-grad-row__bg"></span>
  <div class="fiu-width-container padding-top-250">
    <div class="article-body">
      {{article.body}}
    </div>    
  </div>
</div>

<script>
    $(".govuk-list> li:nth-child(1n+4) .article-link").attr('hidden', true);
</script>