
<div class="app-section no-bottom-padding">
  <nav class="fiu-navigation fiu-navigation--citizens" data-fiu-navigation="true">
    <div class="govuk-width-container">
        <a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav" data-fiu-nav-menu="true" id="navigation">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-1" href="/apprentices/are-they-right-for-you" class="fiu-navigation__link">Link 1</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-2" href="/apprentices/how-do-they-work" class="fiu-navigation__link">Link 2</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-3" href="/apprentices/get-started" class="fiu-navigation__link">Link 3</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-4" href="/apprentices/browse-apprenticeships" class="fiu-navigation__link">Link 4</a> </li>
                <li class="fiu-navigation__list-item"><a id="fiu-app-menu-link-5" href="/apprentices/useful-resources-for-apprentices" class="fiu-navigation__link">Link 5</a> </li>
            </ul>
        </nav>
    </div>
  </nav>
</div>

<div class="app-section app-section--black">
    <div>
        <nav aria-label="breadcrumbs">
            <ol class="govuk-breadcrumbs govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    {{#link 'help_center' class="govuk-breadcrumbs__link" aria-current="false"}}Home{{/link}}
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" aria-current="false" href="{{section.url}}">{{section.name}}</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="true">
                    {{article.title}}
                </li>
            </ol>
        </nav>
    </div>
 
    <div class="fiu-page-header fiu-page-header--homepage">
        <div class="fiu-width-container center no-top-padding">
        <span class="fiu-page-header__image-mask">
            <div class="govuk-grid-row left">
            <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                <div class="fiu-feature-text">
                    <strong class="fiu-tag fiu-tag--citizens fiu-page-header__tag">Apprentices</strong>
                    <h1 class="govuk-heading-xl fiu-page-heading__title-hub">{{article.title}}</h1>
                </div>
                <p class="fiu-page-header__content-l govuk-!-width-two-thirds">{{section.description}}</p>
                <img class="hm-logo" src="{{asset 'hm-government-logo.svg'}}" alt="HM Government logo">
            </div>          
            </div>        
        </span>
        <img src="{{asset 'apprentice-sparks.png'}}" alt="background-image" class="fiu-page-header__image fiu-fade-in" />      
        </div>
    </div>
</div>

<div id="main-content" class="govuk-width-container">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{article.body}}
            <p class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">Last updated on {{date article.edited_at class='metadata' format="medium"}}</p>
        </div>
    </div>

    {{#with article}}
    <div>
        <div class="article-vote govuk-!-margin-top-6">
            {{vote 'up' role='radio' class='article-vote-hidden' selected_class="voted"}}
            {{vote 'down' role='radio' class='article-vote-hidden' selected_class='voted'}}
            <span class="vote-prompt">Is this page useful?</span>
            <span class="article-vote-thanks govuk-!-margin-top-6">
                Thank you for your feedback. You can
            </span>
            {{vote 'up' role='radio' class='article-vote article-vote-up' selected_class="voted"}}
            {{vote 'down' role='radio' class='article-vote article-vote-down' selected_class='voted'}}
        </div>
    </div>
    {{/with}}

</div>