<div class="app-section app-section--black margin-top-20">
  <div class="left">
    {{!-- {{breadcrumbs}} --}}
  </div>

  <div class="fiu-page-header fiu-page-header--homepage">
    <div class="fiu-width-container center no-top-padding">
      <span class="fiu-page-header__image-mask"></span>
      <img src="{{asset 'apprentice-sparks.png'}}" alt="background-image" class="fiu-page-header__image fiu-fade-in" />
    </div>
  </div> 
</div>

<div class="fiu-grad-row">
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            {{#each sections}}
                <div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <h3 class="fiu-card__heading">{{name}}</h3>

                        <div class="fiu-card__content">
                            {{description}}
                        </div>
                        {{#each articles}}
                            <a href="{{url}}" class="fiu-card__link">Select</a>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<section class="app-section app-section--white">
  <div class="fiu-width-container center margin-top-20" style="min-height: 50px">
    <label>...</label>
  </div>  
</section>