<div class="govuk-width-container">
    
    <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">All <span class="app-text--lowercase">{{section.name}}</span> articles for the apprenticeship service</h1>

            {{#if section.description}}
            <p class="govuk-body">{{section.description}}</p>
            {{/if}}

            <div class="fiu-grad-row">
                <div class="fiu-width-container">
                    <div class="govuk-grid-row fiu-flex-row">
                        {{#each section.articles}}
                            {{!-- <div class="govuk-grid-column-one-quarter">
                                <div class="fiu-card">
                                    <h3 class="fiu-card__heading">{{article.title}}</h3>
                                </div>
                                <div class="fiu-card__content">
                                   {{description}}
                                </div>
                                <a href="{{url}}" class="fiu-card__link"
                            </div> --}}
                         {{/each}}
                    </div>
                </div>
            </div>

            <br>
            {{pagination}}

        </div>
    </div>
